{% extends "base.html.twig" %} {% block title %}Afficher un article {% endblock
%} {% block body %}

<div
  class="card w-[100vw] bg-[url(../img/pets/{{
    asset(article.image)
  }})] bg-cover max-w-[600px]"
>
  <div class="card-body">
    <h2 class="card-title">{{ article.title }}</h2>
    <p>{{ article.content }}</p>
    <p class="">Sa catégorie: {{ article.category.name }}</p>

    Posté le:
    {{article.createdAt|date('d-m-Y')}}
    à
    {{article.createdAt|date('H:i')}}
  </div>
</div>
{% endblock %}
